:root{
    --bg-color: white;
    --text-color: #dbdbdb;
    --font-family: "Source Code Pro", monospace;
    --title-font-size: 2vw;
    --text-font-size: 20px;

    --accept: #02a267;
    --decline: #bb4434;
}

html, body{
    cursor: url("/assets/ico/cursor.cur");
}

body {
  --sb-track-color: var(--bg-color);
  --sb-thumb-color: var(--text-color);
  --sb-size: 5px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
  }

::selection{
    background-color: var(--text-color);
    color: var(--bg-color);
}
html{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
}
.title{
    padding-left: 5dvw;
    font-size: var(--title-font-size);
}

p{
    font-size: var(--text-font-size);
}
a{
    text-decoration: none;
    color: var(--text-color);
}


/*
    some standard classes to work with
*/
.btn-group{
    display: flex;
    gap: 10px;
}
.btn-group{
    justify-content: center;
}
@media screen and (max-width: 800px) {
    .btn-group{
        flex-direction: column;
    }
}

.info-field{
    border: solid 2px;
    box-shadow: 10px 10px 0px 0px var(--text-color);
    -webkit-box-shadow: 10px 10px 0px 0px var(--text-color);
    -moz-box-shadow: 10px 10px 0px 0px var(--text-color);
    height: fit;
    padding: 1rem;
}

.btn{
    border: solid 2px;
    box-shadow: 10px 10px 0px 0px var(--text-color);
    -webkit-box-shadow: 10px 10px 0px 0px var(--text-color);
    -moz-box-shadow: 10px 10px 0px 0px var(--text-color);
    height: fit;
    padding: 1rem;
    transition: 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}
.btn:hover{
    transform: translateX(5px) translateY(5px);
    -webkit-transform: translateX(5px) translateY(5px);
    -ms-transform: translateX(5px) translateY(5px);
    box-shadow: 5px 5px 0px 0px var(--text-color);
    -webkit-box-shadow: 5px 5px 0px 0px var(--text-color);
    -moz-box-shadow: 5px 5px 0px 0px var(--text-color);
    cursor:pointer;
}
.btn:active{
    transform: translateX(10px) translateY(10px);
    -ms-transform: translateX(10px) translateY(10px);
    -webkit-transform: translateX(10px) translateY(10px);
    box-shadow: 0px 0px 0px 0px var(--text-color);
    -webkit-box-shadow: 0px 0px 0px 0px var(--text-color);
    -moz-box-shadow: 0px 0px 0px 0px var(--text-color);
    cursor:pointer;
}

.btn-sm{
    border: solid 2px;
    box-shadow: 4px 4px 0px 0px var(--text-color);
    -webkit-box-shadow: 4px 4px 0px 0px var(--text-color);
    -moz-box-shadow: 4px 4px 0px 0px var(--text-color);
    height: fit;
    padding: 1rem;
    transition: 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}

.btn-sm:hover{
    position: relative;
    transform: translateX(2px) translateY(2px);
    box-shadow: 2px 2px 0px 0px var(--text-color);
    -webkit-box-shadow: 2px 2px 0px 0px var(--text-color);
    -moz-box-shadow: 2px 2px 0px 0px var(--text-color);
    cursor:pointer;
}
.btn-sm:active{
    transform: translateX(4px) translateY(4px);
    box-shadow: 0px 0px 0px 0px var(--text-color);
    -webkit-box-shadow: 0px 0px 0px 0px var(--text-color);
    -moz-box-shadow: 0px 0px 0px 0px var(--text-color);
    cursor:pointer;
}

.btn-accept{
    background-color: var(--accept);
    color: white;
    border-color: var(--text-color);
}
.btn-decline{
    background-color: var(--decline);
    color: white;
    border-color: var(--text-color);
}

.modal{
    border: solid 2px;
    box-shadow: 10px 10px 0px 0px var(--text-color);
    -webkit-box-shadow: 10px 10px 0px 0px var(--text-color);
    -moz-box-shadow: 10px 10px 0px 0px var(--text-color);
    height: fit;
    padding: 1rem;
    transition: 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}

@media screen and (max-width: 800px) {
    .modal{
        width: calc(100% - 8rem);
    }
}

.br-8{
    border-radius: 8px;
}

.p-5{
    padding: 2rem;
}

.no-overflow-y{
    overflow-x: hidden;
}

#switch-theme{
    background-color: var(--bg-color);
    cursor:pointer;
    z-index: 100;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    padding: 10px;
    border: solid 2px;
    border-radius: 8px;
    box-shadow: 2px 2px 0px 0px var(--text-color);
    -webkit-box-shadow: 2px 2px 0px 0px var(--text-color);
    -moz-box-shadow: 2px 2px 0px 0px var(--text-color);
    transition: 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}
#switch-theme:hover{
    transform: translateX(1px) translateY(1px);
    box-shadow: 1px 1px 0px 0px var(--text-color);
    -webkit-box-shadow: 1px 1px 0px 0px var(--text-color);
    -moz-box-shadow: 1px 1px 0px 0px var(--text-color);
}
#switch-theme>span{
    color: var(--text-color);
    font-size: var(--text-font-size);
}

/* Setting up the button grid */
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    padding: 5%;
}
.grid-item{
    display: block;
    max-height: 200px;
    overflow-y: scroll;
}
.grid-item:has(.profile-img){
    overflow-y: hidden;
} 

.grid-item>span{
    text-align: center;
    font-size: 6rem;
    height: 60%;
    margin: 20px 0 0 0;
    width: 100%;
}
.grid-item>p{
    margin: 0;
    width: 100%;
}

.grid-item-content{
    margin-left: 2rem;
}

.tag-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}
.tag{
    background-color: var(--bg-color);
    display: flex;
    cursor: pointer;
    margin: 2% 0 0 3%;
    padding: 3% 5%;
    border: solid 2px;
    border-radius: 18px;
    box-shadow: 2px 2px 0px 0px var(--text-color);
    -webkit-box-shadow: 2px 2px 0px 0px var(--text-color);
    -moz-box-shadow: 2px 2px 0px 0px var(--text-color);
    transition: 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}
.tag>*{
    margin-left: 3px;
}
.tag:hover{
    transform: translateX(1px) translateY(1px);
    box-shadow: 1px 1px 0px 0px var(--text-color);
    -webkit-box-shadow: 1px 1px 0px 0px var(--text-color);
    -moz-box-shadow: 1px 1px 0px 0px var(--text-color);
    cursor:pointer;
}
.tag:active{
    transform: translateX(2px) translateY(2px);
    box-shadow: 0px 0px 0px 0px var(--text-color);
    -webkit-box-shadow: 0px 0px 0px 0px var(--text-color);
    -moz-box-shadow: 0px 0px 0px 0px var(--text-color);
    cursor:pointer;
}


.working-list{
    padding: 5%;
    width: 100%;
    list-style: none;
}
.working-item{
    margin: 0 0 2rem 0;
    border: solid 2px;
    border-radius: 8px;
    box-shadow: 10px 10px 0px 0px var(--text-color);
    -webkit-box-shadow: 10px 10px 0px 0px var(--text-color);
    -moz-box-shadow: 10px 10px 0px 0px var(--text-color);
    max-width: 50%;
    transition: 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}
.working-item:hover{
    transform: translateX(5px) translateY(5px);
    box-shadow: 5px 5px 0px 0px var(--text-color);
    -webkit-box-shadow: 5px 5px 0px 0px var(--text-color);
    -moz-box-shadow: 5px 5px 0px 0px var(--text-color);
    cursor:pointer;
}
.working-duration{
    margin-left: 2rem;
}
.working-title{
    margin-left: 4rem;
}
.working-description{
    margin-left: 5rem;
    margin-right: 1rem;
    font-size: small;
}

.aboutme-list{
    padding: 5%;
    width: 100%;
    list-style: none;
}
.aboutme-item{
    margin: 0 0 2rem 0;
    padding: 2%;
    border: solid 2px;
    border-radius: 8px;
    box-shadow: 10px 10px 0px 0px var(--text-color);
    -webkit-box-shadow: 10px 10px 0px 0px var(--text-color);
    -moz-box-shadow: 10px 10px 0px 0px var(--text-color);
    max-width: 50%;
    transition: 0.3s cubic-bezier(.68,-0.55,.27,1.55);
}
.aboutme-item:hover{
    transform: translateX(5px) translateY(5px);
    box-shadow: 5px 5px 0px 0px var(--text-color);
    -webkit-box-shadow: 5px 5px 0px 0px var(--text-color);
    -moz-box-shadow: 5px 5px 0px 0px var(--text-color);
    cursor:pointer;
}

.documentation-content{
    width: calc(100% - 20rem);
    margin:0 10rem 20rem 10rem;
}
.documentation-content > img{
    width: 100%;
    height: auto;
}

#cookiesChoice{
    position: fixed;
    z-index: 120;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background-color: var(--bg-color);
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#cookiesChoice>p{
    font-size: 5vh;
    margin-bottom: 3rem;
}
#plane{
    position: fixed;
    top: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: block;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#alert{
    background-color: var(--accept);
    color: var(--text-color);
    z-index: 100;
    position: fixed;
    border: solid 2px black;
    border-radius: 55px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(150px);
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items:center;
    flex-flow: row;
    padding: 1% 10%;
    margin-bottom: 5vh;
    white-space: nowrap;
    border: solid 2px;
    box-shadow: 4px 4px 0px 0px var(--text-color);
    -webkit-box-shadow: 4px 4px 0px 0px var(--text-color);
    -moz-box-shadow: 4px 4px 0px 0px var(--text-color);
    max-width: 50%;
    transition: 0.3s cubic-bezier(.68,-0.55,.27,1.55);
    pointer-events: none;
}
#alert>*{
    margin: 0;
    color: white;
}
#alert>p{
    margin-left: 2px;
}


.profile-img{
    width: 100%;
    display: flex;
    overflow-y: hidden;
}



@media screen and (max-width: 800px) {
    :root{
        --title-font-size: 1rem;
    }
    .btn-grid {
        display: block;
    }

    .grid-item {
       margin: 0 1rem 2rem 1rem;
       height: 0%;
    }
    .working-list{
        display: block;
        width: 100%;
    }
    .working-item{
        max-width: calc(100% - 10%);
        width: 100%;
    }
    .documentation-content{
        width:  calc(100% - 4rem);
        margin: 0 2rem;
    }
}
@media screen and (min-width: 801px) {
    .btn-grid {
        margin: 0 auto; /* Zentriere das Grid und füge mehr Raum an den Seiten hinzu */
        max-width: 50%; /* Optional: Setze eine maximale Breite für das Grid */
    }
}